<mat-toolbar *ngIf="!authService.isLoggedIn()" color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Ezerarcu Malaga</span>
</mat-toolbar>
<mat-toolbar *ngIf="authService.isLoggedIn()" color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="videoUpload()">Videó feltöltése</button>
  </mat-menu>
  <span>Ezerarcu Malaga</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()" routerLink="/">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="content-container">
  <div *ngIf="isLoading">
    <p>Töltés...</p>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="!authService.isLoggedIn()">
      <div class="top-links">
        <button mat-flat-button routerLink="/login" (click)="logout()" color="primary">Bejelentkezés</button>
        <button mat-flat-button routerLink="/register" (click)="logout()" color="primary">Regisztráció</button>
      </div>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <div>{{ authService.currentUsersig()?.username }}</div>
    </div>
  </div>
</div>
<router-outlet *ngIf="!isLoading"></router-outlet>