.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
}

.top-links {
    margin-bottom: 8px;
}

.logout-button {
    margin-top: auto;
}