<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Ezerarcu Malaga</span>
</mat-toolbar>

<div class="content-container">
  <div *ngIf="isLoading">
    <p>Töltés...</p>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="!authService.isLoggedIn()">
      <div class="top-links">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Bejelentkezés</a>
        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Regisztráció</a>
      </div>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <div>{{ authService.currentUsersig()?.username }}</div>
      <div class="logout-button">
        <span (click)="logout()">Kijelentkezés</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>