
<mat-card>
    <mat-card-content>
      <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
        <h2>Regisztráció</h2>
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" name="username" ngModel required>
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" name="email" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" ngModel name="password" required>
        </mat-form-field>
        <mat-error *ngIf="errorMessage">
            {{ errorMessage }}
        </mat-error>
        <button mat-raised-button color="primary">Regisztráció</button>
      </form>
    </mat-card-content>
  </mat-card>